future
emoji
telethon==1.16.4
beautifulsoup4
requests>=2.18.4
sqlalchemy>=1.2
python-telegram-bot==11.1.0
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=5.3.0
CurrencyConverter
googletrans==3.1.0a0
jikanpy
speedtest-cli
coffeehouse
tswift
gTTS>=2.0.1
wikipedia
pyowm
tabulate
parsel
youtube-search-python
youtube-dl

